@model WebApplication10.ViewModels.ChangePasswordVM

<div id="changePasswordModal" class="profile-modal">
    <div class="profile-modal-content">
        <span class="profile-close">&times;</span>
        <h3>Đổi mật khẩu</h3>

        @using (Html.BeginForm("ChangePasswordAjax", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
        {
            @Html.AntiForgeryToken()

            <label>Mật khẩu cũ</label>
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)

            <label>Mật khẩu mới</label>
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)

            <button type="submit" class="btn btn-primary">Lưu</button>
        }
    </div>
</div>
