﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Tech Store Admin</title>
    <link href="~/Content/css/admin/admin.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Content/css/admin/admin-user.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Content/css/admin/admin-editUser.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/orders/orders.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Content/css/site.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Content/css/account/profile.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
    <div class="modal fade"
         id="globalAlertModal"
         tabindex="-1"
         aria-hidden="true"
         aria-labelledby="globalAlertModalLabel">

        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content global-modal success">

                <div class="modal-header">
                    <div class="modal-icon">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>

                    <h5 class="modal-title" id="globalAlertModalLabel"></h5>

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>

                <div class="modal-body" id="globalAlertModalBody"></div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn modal-btn"
                            data-bs-dismiss="modal">
                        OK
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade"
         id="mainModal"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" id="modalContent">
            </div>
        </div>
    </div>

    <div class="admin-wrapper">
        <header class="header">
            <div class="container header-top">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home", new { area = "" })">TECH <span class="logo-red">STORE</span></a>
                </div>
                @{
                    string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                    string currentAction = ViewContext.RouteData.Values["action"]?.ToString();

                    Func<string, string, string> isActive = (controller, action) =>
                    {
                        return (currentController == controller && (action == null || currentAction == action)) ? "active-link" : "";
                    };
                }

                <nav class="header-actions">
                    <a href="@Url.Action("Dashboard", "Admin")" class="@((currentController=="Admin" && currentAction=="Dashboard")?"active-link":"")">
                        Dashboard
                    </a>
                    <a href="/Users/Index" class="@((ViewContext.RouteData.Values["controller"]?.ToString() == "Users") ? "active-link" : "")" data-admin-partial="true">Users</a>
                    <a href="@Url.Action("Index", "AdminProducts")" class="@isActive("AdminProducts", null)">Products</a>
                    <a href="@Url.Action("Index", "Orders")" class="@isActive("Orders", null)">Orders</a>
                    <a href="@Url.Action("Index", "AdminContacts")" class="@isActive("AdminContacts", null)">Contacts</a>
                    <a href="@Url.Action("Logout", "Account")">Logout</a>
                </nav>

            </div>
        </header>

        <div class="admin-body">
            <aside class="admin-left-panel" id="adminActionsContainer">
                @Html.Partial("_AdminActions", ViewBag.AdminActions as WebApplication10.ViewModels.AdminActionsViewModel)
            </aside>

            <main class="admin-content" id="mainContent">
                @RenderBody()
            </main>
        </div>
    </div>
    @Html.Partial("_Footer")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/Scripts/common/newsletter.js"></script>

    <script src="~/Scripts/users/admin-navigation.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        function loadModal(url) {
            $.get(url, function (html) {
                $('#modalContent').html(html);
                $('#mainModal').modal('show');
            });
        }
    </script>
    <script src="~/Scripts/product/products.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/Scripts/product/category-description.js?v=@DateTime.Now.Ticks"></script>


</body>
</html>