<footer class="footer">
    <div class="footer-top">
        <div class="container footer-features">
            <div><i class="fa fa-truck-fast"></i><span>Giao hàng nhanh 2h</span></div>
            <div><i class="fa fa-shield-halved"></i><span>Hàng chính hãng 100%</span></div>
            <div><i class="fa fa-rotate-left"></i><span>Đổi trả trong 7 ngày</span></div>
            <div><i class="fa fa-headset"></i><span>Hỗ trợ 24/7</span></div>
        </div>
    </div>

    <div class="container footer-content">
        <div class="footer-col footer-brand">
            <h3 class="footer-logo">TECH<span>STORE</span></h3>
            <p class="footer-desc">
                Hệ thống bán lẻ thiết bị công nghệ chính hãng.<br />
                Laptop • PC • Gaming Gear • Linh kiện
            </p>
            <div class="footer-contact">
                <div><i class="fa fa-location-dot"></i> 123 Nguyễn Văn Linh, TP.HCM</div>
                <div><i class="fa fa-phone"></i> <a href="tel:19005301">1900 5301</a></div>
                <div><i class="fa fa-envelope"></i> <a href="mailto:support@techstore.com">support@techstore.com</a></div>
            </div>
        </div>

        <div class="footer-col">
            <h4>Về TechStore</h4>
            <ul>
                <li><a href="@Url.Action("Index","Pages",new{slug="about"})" class="ajax-link">Giới thiệu</a></li>
                <li><a href="@Url.Action("Index","Pages",new{slug="news"})" class="ajax-link">Tin công nghệ</a></li>
                <li><a href="@Url.Action("Index","Pages",new{slug="careers"})" class="ajax-link">Tuyển dụng</a></li>
                <li><a href="@Url.Action("ContactPartial","Pages")" class="ajax-link">Liên hệ</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Chính sách</h4>
            <ul>
                <li><a href="@Url.Action("Index","Pages",new{slug="warranty"})">Bảo hành</a></li>
                <li><a href="@Url.Action("Index","Pages",new{slug="returns"})">Đổi trả</a></li>
                <li><a href="@Url.Action("Index","Pages",new{slug="shipping"})">Vận chuyển</a></li>
                <li><a href="@Url.Action("Index","Pages",new{slug="payment"})">Thanh toán</a></li>
            </ul>
        </div>

        <div class="footer-col footer-newsletter">
            <h4>Nhận ưu đãi</h4>
            <p>
                Đăng ký newsletter để không bỏ lỡ<br />
                <strong>khuyến mãi & sản phẩm mới</strong>
            </p>

            <form id="newsletterForm" class="newsletter-form">
                @Html.AntiForgeryToken()
                <input type="email" id="newsletterEmail" name="email"
                       placeholder="Nhập email của bạn" required />
                <button type="submit"><i class="fa fa-paper-plane"></i></button>
            </form>

            <div id="newsletterMessage" class="newsletter-message"></div>

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container footer-bottom-inner">
            <span>© 2025 <strong>TechStore</strong>. All rights reserved.</span>
            <div class="footer-payments">
                <img src="/Content/images/payments/visa.jpg" />
                <img src="/Content/images/payments/mastercard.png" />
                <img src="/Content/images/payments/momo.png" />
                <img src="/Content/images/payments/vnpay.jpg" />
            </div>
        </div>
    </div>
</footer>