@model WebApplication10.ViewModels.AdminCreateProductVM

<h4>Thêm sản phẩm</h4>

<form class="ajax-form" method="post" action="/Products/Create">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Tên sản phẩm</label>
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Danh mục</label>
        @Html.DropDownListFor(
            m => m.CategoryId,
            new SelectList(Model.Categories, "CategoryId", "CategoryName"),
            "-- Chọn danh mục --",
            new { @class = "form-select" }
        )
    </div>

    <div class="mb-3">
        <label>Thương hiệu</label>
        @Html.DropDownListFor(
            m => m.BrandId,
            new SelectList(Model.Brands, "BrandId", "BrandName"),
            "-- Chọn thương hiệu --",
            new { @class = "form-select" }
        )
    </div>

    <div class="row">
        <div class="col">
            <label>Giá</label>
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        </div>
        <div class="col">
            <label>Số lượng</label>
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
        </div>
    </div>

    <div class="mb-3 mt-3">
        <label>Mô tả</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control ckeditor" })
    </div>

    <div class="mb-3">
        <label>Trạng thái</label>
        @Html.DropDownListFor(
            m => m.Status,
            new SelectList(new[] { "Available", "Inactive" }),
            new { @class = "form-select" }
        )
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <button id="btnBackToList" class="btn btn-secondary">Quay lại</button>
</form>
